{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>Login page</h1>

    <form method="post">
            {% csrf_token %}
            <table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
            <div>
                <button class="btn btn-primary btn-large" type="submit">로그인하기</button>
            </div>
    </form>
</div>

{% endblock %}